.state {
  font-size: 20px;
}

.chance {
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
}

.progress {
  height: 10px;
  width: 100%;
}

.candidate {
  font-size: 16px;
  margin: 5px 0;
}

path {
  cursor: crosshair;
}

#SLTP {
  z-index: 1;
}

.no-state {
  padding-top: 100px;
}
