<div class="row">
  <div class="col-lg-9 p-2">
    <h1>FiveThirtyEight Election Model by Nate Silver</h1>
    <p>UI redesign by Joel Scott using Angular with firebase hosting</p>
  </div>
  <div class="col-lg-3">
    <img src="../../../assets/FTE-2020-Wordmark.svg" />
  </div>
</div>
<div class="container">
  <h2 class="card-header-title us forecast visible text-center mt-3 py-0">
    2020 Presidential Election Model
  </h2>
  <hr />
  <div class="row">
    <div class="col-lg-12">
      <h1 class="top top-powerbar">
        {{ favorite }} is {{ likelyVerb }} to win the election
      </h1>
      <br />
      <p class="pb-2">
        FiveThirtyEight simulates the election 40,000 times to see who wins most
        often. The data below gives you a good idea of the range of scenarios
        that the FiveThirtyEight model thinks is possible. Based on current
        polls and fundamentals, {{ favorite }} wins the election in
        {{ likelyhoodNum | number: "1.0-0" }} out of every 100 simulations.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-3 text-center">
          <img
            src="../../../assets/biden-head.png"
            style="height: 200px; margin: 20px 0; padding: 0"
          />
          <h1>
            {{ nationalProjection.ecwin_chal | percent: "2.2-2" }}
          </h1>
        </div>
        <div class="col-6">
          <div class="chart-container" style="height: 200px">
            <canvas
              style="height: 150px; margin: 0; padding: 0"
              id="canvas"
            ></canvas>
          </div>
        </div>
        <div class="col-3 text-center">
          <img
            src="../../../assets/trump-head.png"
            style="height: 200px; margin: 20px 0; padding: 0"
          />
          <h1 class="text-center">
            {{ nationalProjection.ecwin_inc | percent: "2.2-2" }}
          </h1>
        </div>
      </div>
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-6">
      <h1 class="mb-1">Electoral votes</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Low</th>
            <th scope="col">High</th>
            <th scope="col">Projection</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ nationalProjection.candidate_chal }}</td>
            <td>{{ nationalProjection.ev_chal_lo | number: "1.0-0" }}</td>
            <td>{{ nationalProjection.ev_chal_hi | number: "1.0-0" }}</td>
            <td>{{ nationalProjection.ev_chal | number: "1.0-0" }}</td>
          </tr>
          <tr>
            <td>{{ nationalProjection.candidate_inc }}</td>
            <td>{{ nationalProjection.ev_inc_lo | number: "1.0-0" }}</td>
            <td>{{ nationalProjection.ev_inc_hi | number: "1.0-0" }}</td>
            <td>{{ nationalProjection.ev_inc | number: "1.0-0" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h1 class="mb-1">Popular vote</h1>
      <table class="table mb-0 pb-0">
        <thead>
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Low</th>
            <th scope="col">Hi</th>
            <th scope="col">Projection</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ nationalProjection.candidate_chal }}</td>
            <td>
              {{
                nationalProjection.national_voteshare_chal_lo | number: "1.0-2"
              }}%
            </td>
            <td>
              {{
                nationalProjection.national_voteshare_chal_hi | number: "1.0-2"
              }}%
            </td>
            <td>
              {{
                nationalProjection.national_voteshare_chal | number: "1.0-2"
              }}%
            </td>
          </tr>
          <tr>
            <td>{{ nationalProjection.candidate_inc }}</td>
            <td>
              {{
                nationalProjection.national_voteshare_inc_lo | number: "1.0-2"
              }}%
            </td>
            <td>
              {{
                nationalProjection.national_voteshare_inc_hi | number: "1.0-2"
              }}%
            </td>
            <td>
              {{ nationalProjection.national_voteshare_inc | number: "1.0-2" }}%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr />
  <br />
  <div class="row">
    <div class="col-12">
      <h1>Electoral Map Projections</h1>
      <electoral-college [stateEstimates]="stateData"></electoral-college>
    </div>
  </div>
  <br />
  <hr />
</div>
